In [18]:
!pip install faker
from faker import Faker
import random
import numpy as np
import pandas as pd

Requirement already satisfied: faker in /usr/local/lib/python3.10/dist-packages (25.3.0)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->faker) (1.16.0)

In [19]:
fake = Faker()

# Num employees
num_employees = 10000

# Countries based on 2019 H1B petition percentages
# India: 74.5%, Mainland China: 11.8%, Canada: 1%, South Korea: 0.9%, Philippines: 0.6%, Taiwan: 0.6%, Mexico: 0.6%
# Converted to out of 90 below

india_prob = 74.5 / 90
china_prob = 11.8 / 90
canada_prob = 1 / 90
southkorea_prob = 0.9 / 90
philippines_prob = 0.6 / 90
taiwan_prob = 0.6 / 90
mexico_prob = 0.6 / 90

countries = ['India', 'China', 'Canada', 'South Korea', 'Philippines', 'Taiwan', 'Mexico']
country_distribution = [india_prob, china_prob, canada_prob, southkorea_prob, philippines_prob, taiwan_prob, mexico_prob]
country_origins = np.random.choice(countries, size=num_employees, p=country_distribution)

# Languages
languages = ['Hindi', 'Mandarin', 'French', 'Korean', 'Tagalog', 'Taiwanese', 'Spanish']
language_probs = [india_prob, china_prob, canada_prob, southkorea_prob, philippines_prob, taiwan_prob, mexico_prob]

# Departments
departments = ['Legal', 'Marketing', 'Administrative', 'Operations', 'Sales', 'Finance', 'I/T', 'Product', 'Human Resource']
department_distribution = [0.05, 0.10, 0.10, 0.20, 0.10, 0.05, 0.10, 0.20, 0.10]

department_salaries = {
    'Legal': (40000, 130000),
    'Marketing': (56000, 100000),
    'Administrative': (45000, 70000),
    'Operations': (60000, 120000),
    'Sales': (45000, 80000),
    'Finance': (70000, 130000),
    'I/T': (80000, 120000),
    'Product': (90000, 130000),
    'Human Resource': (50000, 80000)
}

def generate_employee():
    first_name = fake.first_name()
    last_name = fake.last_name()
    ssn = fake.ssn()
    email = fake.email()
    phone = fake.phone_number()
    gender = random.choice(['Male', 'Female'])
    age = random.randint(21, 65)
    job_title = fake.job()
    years_of_experience = random.randint(0, age - 21)
    department = np.random.choice(departments, p=department_distribution)
    salary = random.randint(*department_salaries[department])
    num_langs = np.random.choice([0, 1, 2])
    langs_spoken = random.sample(languages, num_langs)
    country_origin = np.random.choice(countries, p=country_distribution)

    return {
        'First Name': first_name,
        'Last Name': last_name,
        'SSN' : ssn,
        'Email': email,
        'Phone': phone,
        'Gender': gender,
        'Age': age,
        'Job Title': job_title,
        'Years Of Experience': years_of_experience,
        'Salary': salary,
        'Department': department,
        'Languages': ', '.join(langs_spoken),
        'Country of Origin': country_origin
    }

In [20]:
employees = [generate_employee() for _ in range(num_employees)]
employee_df = pd.DataFrame(employees)
employee_df

,First Name,Last Name,SSN,Email,Phone,Gender,Age,Job Title,Years Of Experience,Salary,Department,Languages,Country of Origin
0,Dean,Hunter,781-22-4684,carsonmelanie@example.com,729.754.0706,Male,61,"Education officer, environmental",11,60441,Sales,,India
1,Rebecca,Munoz,297-97-7616,pottsmarc@example.com,(582)938-1856x3417,Female,54,Veterinary surgeon,32,50796,Administrative,,India
2,Rebecca,Ayala,038-19-2744,meagan67@example.org,+1-219-282-2607x9572,Female,22,Microbiologist,0,69120,Sales,"Mandarin, Taiwanese",India
3,Emily,Roth,830-29-1849,david39@example.org,001-303-863-8992,Male,27,Occupational hygienist,6,119744,Operations,,India
4,Julia,Sims,690-98-3582,mark05@example.com,+1-526-273-6591x7324,Male,29,Planning and development surveyor,5,91635,Product,French,India
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Robin,Reynolds,423-31-9481,hspencer@example.com,844.508.5478x237,Male,45,Medical physicist,16,107224,Operations,Taiwanese,India
9996,Norman,Smith,535-94-2820,donaldsonashley@example.net,(290)647-6802x09343,Female,41,Hydrographic surveyor,8,84572,Marketing,"Taiwanese, Tagalog",China
9997,Angela,Montgomery,407-90-5094,lindsaycrawford@example.net,567.239.8144,Male,51,Estate agent,8,62699,Sales,Taiwanese,India
9998,Laura,Bell,005-27-0544,ylowe@example.org,(334)987-3590x9921,Female,23,Oceanographer,2,53330,Administrative,French,India
9999,Sarah,Armstrong,137-82-6218,valerie30@example.com,+1-739-322-7260,Female,55,Translator,9,92947,Marketing,"Hindi, Tagalog",India